<%- include("header.ejs") %>

<div class="wrapper h-auto flex flex-col gap-6 pt-36">
    <div>
        <h1 class="aboutTitle text-7xl font-bold mb-5">Everyone has a<br> story to tell.</h1>
    </div>
    <div>
        <p class="posts max-w-3xl leading-8 text-xl">Welcome to Daily – the dynamic online writing platform that unleashes your creativity! Whether you're an aspiring author, a deep thinker, or someone with a story to share, Daily offers you a canvas to paint your thoughts with words. Our platform isn't confined to any one genre or purpose – it's a versatile space where imagination knows no bounds.</p>
    </div>
    <div>
        <p class="posts max-w-3xl leading-8 text-xl">At Daily, we celebrate the art of self-expression. We understand that inspiration strikes in countless ways, and that's why we've crafted a space that's as diverse as your thoughts. Whether you're crafting a short story, jotting down personal reflections, sharing informative articles, or experimenting with poetry, Daily is here to be your creative partner.</p>
    </div>
    <div>
        <p class="posts max-w-3xl leading-8 text-xl">Our mission is to provide a user-friendly, adaptable, and inclusive platform that lets your ideas flow effortlessly. With a seamless interface designed for both novices and seasoned writers, you can focus on what truly matters: your content. Personalize your writing environment to suit your preferences, and let your unique voice shine through.</p>
    </div>
    <div>
        <p class="posts max-w-3xl leading-8 text-xl">Join our diverse community of writers and thinkers who are embracing the freedom to write without limitations. Whether you're penning your thoughts in prose or verse, sharing life lessons, or building new worlds through fiction, Daily is the platform that nurtures your creativity.</p>
    </div>
</div>

<%- include("footer.ejs") %>